inputs/
materials/
midrc/
results/
borrar/
examples/
settings/
**/*.dcm
**/*.nii
**/*.nii.gz
**/*.npz
**/*.h5
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.venv/
venv/
env/
conda/
conda_env/
pip-wheel-metadata/
*.egg-info/
*.egg
build/
dist/
.git/
.gitignore
.DS_Store
Thumbs.db
.idea/
.vscode/
.devcontainer
*.swp
