results/
inputs/
examples/volumes/
examples/notebooks/results
materials/
materials/executables
materials/models
test/
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.gif
*.pt
.ipynb_checkpoints/
__pycache__/
*.pyc
