# =============================
# Ignore all contents inside folders, but keep the folder itself
# =============================

# results folder (keep folder, ignore files)
results/*
!results/.gitkeep

# inputs folder
inputs/*
!inputs/.gitkeep

# materials folder and subfolders
# materials folder and subfolders
# materials/*
# !materials/.gitkeep
!materials/executables/
!materials/models/
# !materials/mac/
# !materials/spectra/
materials/executables/*
!materials/executables/.gitkeep
materials/models/*
!materials/models/.gitkeep
!materials/calibration/
# materials/mac/*
# !materials/mac/.gitkeep
# materials/spectra/*
# !materials/spectra/.gitkeep



# examples folders
examples/volumes/*
!examples/volumes/.gitkeep
examples/notebooks/results/*
!examples/notebooks/results/.gitkeep


# test folder
test/*
!test/.gitkeep
borrar/

# =============================
# Ignore specific file types globally
# =============================
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.gif
*.pt

# =============================
# Python & Jupyter caches
# =============================
.ipynb_checkpoints/
__pycache__/
*.pyc
*.egg-info/
*.egg
build/
dist/
*.pyc
*.pyo

.devcontainer/
.vscode/
borrar/
midrc/test.ipynb
src\chestxsim\wrappers\fuxsim.py
src\chestxsim\wrappers\raptor.py
src\chestxsim\wrappers\fuxsim_new.py